html
	font:
		family: sans-serif
		weight: 200
	line-height: 1.5

h1, h2, h3, h4, h5
	line-height: 1.2

.block
	border: 1px solid gray

.mini-block
	background: silver
	display: inline-block
	padding: 0.2em 0.5em

.content
	width: 960px
	margin: auto

.three-col
	overflow: hidden

	.col		
		float: left
		width: 30%
		margin: 1.533%

.two-col
	overflow: hidden

	.col		
		float: left
		width: 46%
		margin: 1.533%

.menu
	display: inline-block

	ul
		padding: 0

	li
		display: inline-block
		padding: 0.5em 1em
	.external
		background: rgb(255, 195, 195)

header, footer
	text-align: center
		
	h1
		font:
			size: 4em
			weight: 200
	h2
		font-weight: 200
		
#footer
	text-align: center
	margin-top: 3em

	.subscribe
		p
			margin: 0
		.note
			font-size: 0.8em
			margin-bottom: 1em
		.inner
			padding: 1.2em 1em 0.5em

		input, button
			font-size: 1.2em

	.twitter
		.inner
			padding: 1.2em 1em 1em
			text-align: left
		.message
			font-style: italic
			margin-bottom: 0
		footer
			text-align: right
			font-size: 0.8em
		.user,
		.date

